<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Intrusion Detection System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="static/bootstrap.css" rel="stylesheet"></head>

<body style="background-image: url(static/b.jpg);height: 100%; background-repeat: no-repeat;background-position: center;background-repeat: no-repeat;background-size: cover;">
<!----------------HEADER START--------------------------->
	<div class="header head">
	    <h1>
	       <center>Intrusion Detection System</center>
	    </h1>
	</div>
<!----------------HEADER END--------------------------->
<div class="container">
<table>
<td width="50%">
	<div class="row">
		<div class="col-md-12 box1" style="margin-left: 80px;padding: 50px;margin-top: 100px;">	
				<form>
				    <div class="form-group">
				     
                                    <input type="text" class="form-control" id="usr" style="text-align:center;  font-weight:bold;" placeholder="{{name}}" readonly/>
				    </div>
				    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t" >Accuracy</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{accuracy}}" id="usr"  readonly/>
				    </div>
				    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Precision</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{precision}}" id="usr"  readonly/>
				    </div>
                    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Recall</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{recall}}" id="usr"  readonly/>
				    </div>
                    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Fl Score</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{fl}}" id="usr" readonly/>
				    </div>

                </form>
			</div>
	</div>
</td>
<td width="50%">



        <div class="row">
			<div class="col-md-12 box1" style="margin-left: 80px;padding: 50px;margin-top: 100px;">
				<form>
				    <div class="form-group">
				     
                                    <input type="text" class="form-control" id="usr" style="text-align:center; font-weight:bold;" placeholder="{{name1}}" readonly/>
				    </div>
				    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t" >Accuracy</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{accuracy1}}" id="usr"  readonly/>
				    </div>
				    <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Precision</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{precision1}}" id="usr"  readonly/>
				    </div>
                                   <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Recall</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{recall1}}" id="usr"  readonly/>
				    </div>
                                   <div class="input-group mb-3">
				      <div class="input-group-prepend">
				        <span class="input-group-text t">Fl Score</span>
				      </div>
				      <input type="text" class="form-control" placeholder="{{fl1}}" id="usr" readonly/>
				    </div>

                               </form>
			</div>
	</div>
</td>
</table>





</div>
<!----------------FOOTER START--------------------------->
	<footer class="row footer row3">
	    <div class="col-md-12">
		   <marquee> <p>This IDS is developed by Himanshu (02320902716), Jai Shrivastava (02720902716) and Restu Kumari (04920902716) of G.B. Pant Govt. Engineering College under Minor Project
		    </p></marquee>
	    </div>
	</footer>
<!----------------FOOTER END--------------------------->
</body>
</html>